body {
  font-size: 15px;
  text-align: left;
  color: hsl(228, 45%, 44%);
}

h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

p {
font-family: "Lexend Deca";
font-weight: 400;
color: hsla(0, 0%, 100%, 0.75);
padding-bottom: 3rem;
}


.container {
  display: flex;

}

.row {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  flex: 1;
  height: 100%;
}

.icon {
  padding-bottom: 2rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.btn-sedans {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Lexend Deca";
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-suv {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Lexend Deca";
  color: hsl(184, 100%, 22%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn-luxury {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Lexend Deca";
  color: hsl(179, 100%, 13%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: none;
  text-decoration: none;
  color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%) 2px;
}
